body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  width: 50%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

h1 {
  display: hidden;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 36px;
}

/* Set width: 100% to span across page, then shifted text to right corner with text-align */
footer {
  display: block;
  position: fixed;
  bottom: 0;
  font-size: 12px;
  width: 100%;
  text-align: right;
}

p {
  padding-right: 20px;
}

/* Added border-radius to curve edges, grey background colour and white text color */
form > input {
  font-size: 18px;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  background-color: grey;
  color: white;
}
